/* ADMIN SIDEBAR */
#sidebar_nav {
    background-color: rgba(112,159,176,.1);
    box-shadow: 2px 0 1px -2px #413c69;
}
.sidebar_item:link,
.sidebar_item:visited {
    color: #413c69;
}
.sidebar_item:hover,
.sidebar_item:active {
    color: #a7c5eb;
}
.icons {
    font-size: 1.5rem;
}
#sidebar_toggle_btn {
    cursor: pointer;
}
#sidebar_toggle_menu {
    background-color: transparent;
    position: unset;
    border: none;
}