# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ikumi\Desktop\Web Development Program\semester2\HTTP5202_WebApplicationDevelopment2\PHPproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
