@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*COLOURS COLOURS COLOURS COLOURS COLOURS */
/*

FONT: ROBOTO
Light White = #f6f5f5
Gray/lightblue = #d3e0ea
Turquoise = #1687a7
Dark green = #276678*/

html {
  font-family: "Roboto", sans-serif;
}
section {
  padding: 25px 0px;
}
img {
  width: 100%;
}

/*-- Body Reset --*/
body {
  overflow-x: hidden;

  color: #276678;
  background-color: #f6f5f5;
  font-size: 1.3rem;
}




/*============= CAROUSEL =============*/
#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  max-height: 39rem !important;
}
/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}


/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-caption p {
  font-size: 2rem;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.border-primary {
  border-top: 0.2em solid #a7c5eb !important;
}
.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1rem;
}
.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger {
  background-color: #276678;
  border: 0.1rem solid;
}
.btn-primary {
  background-color: #276678;
  border: 0.1rem solid #276678;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #d3e0ea !important;
  color: #1c2f3c;
  border: 0.1rem solid #d3e0ea !important;
}
.container svg {
  height: 6rem;
  color: #276678;
}

/*============SERVICES MENU================= */
.menu-area {
  /* background: url(../img/menu-bg.jpg) center; */
  background-size: cover;
}

.single-menu {
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px #d3e0ea;
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}

.single-menu .title-div {
  padding-bottom: 20px;
}

.single-menu__btn {
  text-align: center;
  padding: 10px;
}

.single-menu p {
  margin-bottom: 0;
}

/*============= PRODUCTS PAGE =============*/

.product {
  border: 1px solid black;
}
.products {
  flex-direction: row;
  overflow: auto;
  flex-wrap: nowrap;
}

/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url("../img/background.jpg");
  filter: brightness(40%);

  position: fixed;
}

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
  padding: 10rem 0;
}
/*-- Emoji Navbar --*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}

/*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}









